- page_title _('New Password')
- breadcrumb_title _('New Password')

%h3.page-title= _('Set up new password')
%hr
= form_for @user, url: profile_password_path, method: :post do |f|
  %p.slead
    = _('Please set a new password before proceeding.')
    %br
    = _('After a successful password update you will be redirected to login screen.')

  = form_errors(@user)

  - unless @user.password_automatically_set?
    .form-group.row
      = f.label :current_password, '当前密码', class: 'col-form-label col-sm-2'
      .col-sm-10= f.password_field :current_password, required: true, class: 'form-control'
  .form-group.row
    = f.label :password, '密码', class: 'col-form-label col-sm-2'
    .col-sm-10= f.password_field :password, required: true, class: 'form-control'
  .form-group.row
    = f.label :password_confirmation, '确认密码', class: 'col-form-label col-sm-2'
    .col-sm-10
      = f.password_field :password_confirmation, required: true, class: 'form-control'
  .form-actions
    = f.submit _('Set new password'), class: 'btn btn-success'
